{% requireAdmin %}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = plugin.name %}
{% set docTitle = title ~ ' - ' ~ "Plugins"|t('app') %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}

{% set tabs = {
    main: {
        label: 'Main settings'|t('activity'),
        url: '#settings-main'
    },
    elements: {
        label: 'Elements'|t('activity'),
        url: '#settings-elements'
    },
    config: {
        label: 'Config'|t('activity'),
        url: '#settings-config'
    },
    house: {
        label: 'House Keeping'|t('activity'),
        url: '#settings-house'
    }
} %}

{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', 'activity') }}
    {{ redirectInput('settings') }}

    {% namespace 'settings' %}
    <div class="tab-content" id="main">
        {{
            forms.lightswitchField({
                label: 'Show users full name'|t('activity'),
                name: 'showUsersFullName',
                on: settings.showUsersFullName
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Show user IPs on the dashboard'|t('activity'),
                name: 'showUserIP',
                on: settings.showUserIP
            })
        }}

        <div class="field">
            <div class="heading">
                <label for="ignore-rules">{{ 'Ignore rules'|t('activity') }}</label>
            </div>
            {{ forms.editableTable({
                rows: settings.ignoreRules,
                name: 'ignoreRules',
                id: 'ignore-rules',
                allowAdd: true,
                allowDelete: true,
                allowReorder: true,
                defaultValues: {
                    active: 1
                },
                cols: {
                    type: {
                        name: 'type',
                        type: 'select',
                        heading: 'Log type'|t('activity'),
                        options: {'': 'All'|t('app')}|merge(types)
                    },
                    request: {
                        name: 'request',
                        type: 'select',
                        heading: 'Request'|t('activity'),
                        options: {
                            '': 'All'|t('app'),
                            cp: 'Control Panel'|t('activity'),
                            site: 'Site'|t('activity'),
                            console: 'Console'|t('activity'),
                            yaml: 'Yaml config'|t('activity'),
                        }
                    },
                    active: {
                        name: 'active',
                        type: 'lightswitch',
                        heading: 'Active'|t('app')
                    }
                }
            }) }}
        </div>
    </div>

    <div class="tab-content hidden" id="elements">
        <p>{{ 'These settings apply to elements (users, entries, globals, categories)'|t('activity') }}</p>
        {{
            forms.lightswitchField({
                label: 'Ignore activity when elements are resaved'|t('activity'),
                name: 'ignoreResave',
                on: settings.ignoreResave,
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Ignore activity when elements slugs and uris are updated'|t('activity'),
                name: 'ignoreUpdateSlugs',
                on: settings.ignoreUpdateSlugs
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Ignore activity when elements are propagated to other sites'|t('activity'),
                name: 'ignorePropagate',
                on: settings.ignorePropagate,
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Track changes made in elements'|t('activity'),
                name: 'trackElementFieldsChanges',
                on: settings.trackElementFieldsChanges
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Ignore elements activity when no changes have been done'|t('activity'),
                instructions: "This has no effect if element changes aren't tracked."|t('activity'),
                name: 'ignoreNoElementChanges',
                on: settings.ignoreNoElementChanges
            })
        }}
    </div>

    <div class="tab-content hidden" id="config">
        <p>{{ 'These settings apply to all cp config models (category groups, sections, volumes etc)'|t('activity') }}</p>
        {{
            forms.lightswitchField({
                label: 'Track changes made in config'|t('activity'),
                name: 'trackConfigFieldsChanges',
                on: settings.trackConfigFieldsChanges
            })
        }}
    </div>

    <div class="tab-content hidden" id="house">
        {{
            forms.textField({
                label: 'Automatically delete activity older than'|t('activity'),
                instructions: 'No value means activity will never be deleted'|t('activity'),
                value: settings.autoDeleteLogsThreshold,
                name: 'autoDeleteLogsThreshold',
                type: 'number',
                min: 1,
                unit: 'days'|t('activity')
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Deleting a user will delete all its activity'|t('activity'),
                name: 'deleteLogsWithUser',
                on: settings.deleteLogsWithUser
            })
        }}

        {{
            forms.lightswitchField({
                label: 'Deleting a site will delete all activity related to it'|t('activity'),
                name: 'deleteLogsWithSite',
                on: settings.deleteLogsWithSite
            })
        }}

        {{
            forms.checkboxSelectField({
                label: 'Delete related activity when the following types are deleted',
                instructions: 'Activity will be deleted regardless of soft/hard deletions',
                name: 'deleteTypes',
                options: settings.deleteTypesOptions,
                values: settings.deleteTypes,
                showAllOption: true
            })
        }}
    </div>
    {% endnamespace %}
{% endblock %}