{% import "activity/includes/macros" as macros %}

{% macro fsValue(title, handle) %}
    {% set value = title %}
    {% set fs = craft.app.fs.getFilesystemByHandle(handle) %}
    {% if fs %}
        {% set value = fs.name %}
    {% endif %}
    <code>{{ value }}</code>
{% endmacro %}

{% macro toValue(data) %}
    {{ _self.fsValue(data.tf, data.t) }}
{% endmacro %}

{% macro fromValue(data) %}
    {{ _self.fsValue(data.ff, data.f) }}
{% endmacro %}

{% set hasFrom = 'f' in field.data|keys %}
{% set hasTo = 't' in field.data|keys %}
<li>
    {% if hasFrom and hasTo %}
        {{ "Field {field} was changed from {from} to {to}"|t('activity', {
            field: macros.fieldLabel(field.name, log),
            from: _self.fromValue(field.data),
            to: _self.toValue(field.data)
        })|raw }}
    {% elseif hasTo %}
        {{ "Field {field} was set to {to}"|t('activity', {
            field: macros.fieldLabel(field.name, log),
            to: _self.toValue(field.data)
        })|raw }}
    {% elseif hasFrom %}
        {{ "Field {field} value ({from}) was removed"|t('activity', {
            field: macros.fieldLabel(field.name, log),
            from: _self.fromValue(field.data)
        })|raw }}
    {% endif %}
</li>