{% set hasFrom = 'f' in field.data|keys %}
{% set hasTo = 't' in field.data|keys %}
<li>
    {% if hasFrom and hasTo %}
        {% if field.data.f is same as(true) and field.data.t is same as(false) %}
            {{ "Field {field} was switched off"|t('activity', {
                field: field.data.name
            })|raw }}
        {% elseif field.data.f is same as(false) and field.data.t is same as(true) %}
            {{ "Field {field} was switched on"|t('activity', {
                field: field.data.name
            })|raw }}
        {% endif %}
    {% elseif hasTo %}
        {% if field.data.t is same as(false) %}
            {{ "Field {field} was switched off"|t('activity', {
                field: field.data.name
            })|raw }}
        {% elseif field.data.t is same as(true) %}
            {{ "Field {field} was switched on"|t('activity', {
                field: field.data.name
            })|raw }}
        {% endif %}
    {% elseif hasFrom %}
        {% if field.data.f is same as(false) %}
            {{ "Field {field} was switched off"|t('activity', {
                field: field.data.name
            })|raw }}
        {% elseif field.data.f is same as(true) %}
            {{ "Field {field} was switched on"|t('activity', {
                field: field.data.name
            })|raw }}
        {% endif %}
    {% endif %}
</li>