{% import "activity/includes/macros" as macros %}

{% for fields in field.data %}
    {% set site = craft.app.sites.getSiteByUid(fields.uid) %}
    {% set siteName = fields.name %}
    {% if site %}
        {% set siteName = site.name %}
    {% endif %}
    <li>
        {% if fields.mode == 'enabled' %}
            {{ "The site settings for site {site} were enabled"|t('activity', {
                site: siteName,
            })|raw }}
            <ul>
                <li>
                    {{ "Template was set to {to}"|t('activity', {
                        to: macros.toValue(fields.template)|spaceless
                    })|raw }}
                </li>
                <li>
                    {{ "URI format was set to {to}"|t('activity', {
                        to: macros.toValue(fields.uriFormat)|spaceless
                    })|raw }}
                </li>
            </ul>
        {% elseif fields.mode == 'disabled' %}
            {{ "The site settings for site {site} were disabled"|t('activity', {
                site: siteName,
            })|raw }}
            <ul>
                <li>
                    {{ "Template was {from}"|t('activity', {
                        from: macros.fromValue(fields.template)|spaceless
                    })|raw }}
                </li>
                <li>
                    {{ "URI format was {from}"|t('activity', {
                        from: macros.fromValue(fields.uriFormat)|spaceless
                    })|raw }}
                </li>
            </ul>
        {% else %}
            {{ "The site settings for site {site} were changed"|t('activity', {
                site: siteName,
            })|raw }}
            <ul>
                {% if fields.template ?? null %}
                    <li>
                        {{ "Template was changed from {from} to {to}"|t('activity', {
                            site: siteName,
                            from: macros.fromvalue(fields.template)|spaceless,
                            to: macros.toValue(fields.template)|spaceless
                        })|raw }}
                    </li>
                {% endif %}
                {% if fields.uriFormat ?? null %}
                    <li>
                        {{ "URI format was changed from {from} to {to}"|t('activity', {
                            site: siteName,
                            from: macros.fromvalue(fields.uriFormat)|spaceless,
                            to: macros.toValue(fields.uriFormat)|spaceless
                        })|raw }}
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </li>
{% endfor %}