{% import "activity/includes/macros" as macros %}

{% set fieldId = field.id ?? data.fieldId %}
{% set key = (data.key is defined) ? data.key ~ '.blocks.' : 'blocks.' %}

<li>
    {% if field.data.blocks %}
        {{ 'Field {field} was changed'|t('activity', {
            field: field.data.name
        }) }}
        <ul>
            {% for row, block in field.data.blocks %}
                {% if block.mode == 'changed' %}
                    <li>{{ 'Block {row} was changed'|t('activity', {row: row + 1}) }}</li>
                    <ul>
                        {% for handle, mfield in block.fields ?? [] %}
                            {{ macros.elementField(mfield, {fieldId: fieldId, key: key ~ row  ~ '.fields.' ~ handle ~ '.data' }) }}
                        {% endfor %}
                    </ul>
                {% elseif block.mode == 'removed' %}
                    <li>{{ 'Block {row} was removed'|t('activity', {row: row + 1}) }}</li>
                    <ul>
                        {% for handle, mfield in block.fields ?? [] %}
                            {{ macros.elementField(mfield, {fieldId: fieldId, key: key ~ row  ~ '.fields.' ~ handle ~ '.data' }) }}
                        {% endfor %}
                    </ul>
                {% else %}
                    <li>{{ 'Block {row} was added'|t('activity', {row: row + 1}) }}</li>
                    <ul>
                        {% for handle, mfield in block.fields ?? [] %}
                            {{ macros.elementField(mfield, {fieldId: fieldId, key: key ~ row  ~ '.fields.' ~ handle ~ '.data' }) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        {{ 'Field {field} was set to {value}'|t('activity', {
            field: field.data.name,
            value: '<code>null</code>'
        })|raw }}
    {% endif %}
</li>