{% import "activity/includes/macros" as macros %}

{% macro setting(field, log) %}
    <li>
        {% apply spaceless %}
            {% set hasFrom = 'f' in field.data|keys %}
            {% set hasTo = 't' in field.data|keys %}
            {% if hasFrom and hasTo %}
                {{ "{field} was changed from {from} to {to}"|t('activity', {
                    field: macros.settingLabel(field.name, log)|spaceless,
                    from: macros.fromValue(field.data)|spaceless,
                    to: macros.toValue(field.data)|spaceless
                })|raw }}
            {% elseif hasTo %}
                {{ "{field} was set to {to}"|t('activity', {
                    field: macros.settingLabel(field.name, log)|spaceless,
                    to: macros.toValue(field.data)|spaceless
                })|raw }}
            {% elseif hasFrom %}
                {{ "{field} value ({from}) was removed"|t('activity', {
                    field: macros.settingLabel(field.name, log)|spaceless,
                    from: macros.fromValue(field.data)|spaceless
                })|raw }}
            {% else %}
                {{ "{field} was changed"|t('activity', {
                    field: macros.settingLabel(field.name, log)|spaceless
                })|raw }}
            {% endif %}
        {% endapply %}
    </li>
{% endmacro %}


{% if log.changedFields %}
    <ul>
        {% for name, field in log.changedFields %}
            {{ _self.setting(field, log) }}
        {% endfor %}
    </ul>
{% endif %}
