{% import "activity/includes/macros" as macros %}

{% macro setting(field, log) %}
    <li>
        {% if field.hasFrom and field.hasTo %}
            {{ "{setting} was changed from {from} to {to}"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                from: macros.fromValue(field),
                to: macros.toValue(field)
            })|raw }}
        {% elseif field.hasTo %}
            {{ "{setting} was set to {to}"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                to: macros.toValue(field)
            })|raw }}
        {% elseif field.hasFrom %}
            {{ "{setting} value ({from}) was removed"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                from: macros.fromValue(field)
            })|raw }}
        {% else %}
            {{ "{setting} was changed"|t('activity', {
                setting: macros.settingLabel(field.name, log)
            })|raw }}
        {% endif %}
    </li>
{% endmacro %}

{% if log.changedFields %}
    <ul>
        {% for name, field in log.changedFields %}
            {{ _self.setting(field, log) }}
        {% endfor %}
    </ul>
{% endif %}