{% import "activity/includes/macros" as macros %}

{% macro setting(field, log) %}
    <li>
        {% set hasFrom = 'f' in field.data|keys %}
        {% set hasTo = 't' in field.data|keys %}
        {% if hasFrom and hasTo %}
            {{ "{setting} was changed from {from} to {to}"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                from: macros.fromValue(field.data),
                to: macros.toValue(field.data)
            })|raw }}
        {% elseif hasTo %}
            {{ "{setting} was set to {to}"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                to: macros.toValue(field.data)
            })|raw }}
        {% elseif hasFrom %}
            {{ "{setting} value ({from}) was removed"|t('activity', {
                setting: macros.settingLabel(field.name, log),
                from: macros.fromValue(field.data)
            })|raw }}
        {% else %}
            {{ "{setting} was changed"|t('activity', {
                setting: macros.settingLabel(field.name, log)
            })|raw }}
        {% endif %}
    </li>
{% endmacro %}

{% if log.changedFields %}
    <ul>
        {% for name, field in log.changedFields %}
            {{ _self.setting(field, log) }}
        {% endfor %}
    </ul>
{% endif %}