{% macro fromValue(data) %}
    <code>{{ (data.ff ?? data.f)|prettyPrint }}</code>
{% endmacro %}

{% macro toValue(data) %}
    <code>{{ (data.tf ?? data.t)|prettyPrint }}</code>
{% endmacro %}

{% macro fieldLabel(name, log) %}
    {% set label = log.getFieldLabel(name) %}
    {% if label %}
        {{ label }}
    {% else %}
        <code>{{ name }}</code>
    {% endif %}
{% endmacro %}

{% macro settingLabel(name, log) %}
    {% set label = log.getSettingLabel(name) %}
    {% if label %}
        {{ label }}
    {% else %}
        <code>{{ name }}</code>
    {% endif %}
{% endmacro %}

{% macro htmlElementValue(element, title = 'title') %}
    {% set html = '<a href="' ~ element.cpEditUrl ~'" target="_blank">' %}
    {% if element.trashed %}
        {% set html = html ~ '<span class="status trashed"></span>' ~ element[title] %}
    {% else %}
        {% set html = html ~ '<span class="status ' ~ element.status ~ '"></span>' ~ element[title] %}
    {% endif %}
    {% set html = html ~ '</a>' %}
    {{ html|raw }}
{% endmacro %}

{% macro elementValue(value) %}
    <code>{{ craft.activity.elementValue(value) }}</code>
{% endmacro %}

{% macro elementToValue(data) %}
    {{ _self.elementValue(data.tf ?? data.t) }}
{% endmacro %}

{% macro elementFromValue(data) %}
    {{ _self.elementValue(data.ff ?? data.f) }}
{% endmacro %}

{% macro elementField(field, data = {}) %}
    {% set template = handlerTemplate(field.handler) %}
    {% if template %}
        {% include template %}
    {% else %}
        {% set hasFrom = 'f' in field.data|keys %}
        {% set hasTo = 't' in field.data|keys %}
        <li>
            {% if hasFrom and hasTo %}
                {{ "Field {field} was changed from {from} to {to}"|t('activity', {
                    field: field.data.name|spaceless,
                    from: _self.elementFromValue(field.data)|spaceless,
                    to: _self.elementToValue(field.data)|spaceless
                })|raw }}
            {% elseif hasTo %}
                {{ "Field {field} was set to {to}"|t('activity', {
                    field: field.data.name|spaceless,
                    to: _self.elementToValue(field.data)|spaceless
                })|raw }}
            {% elseif hasFrom %}
                {{ "Field {field} value ({from}) was removed"|t('activity', {
                    field: field.data.name|spaceless,
                    from: _self.elementFromValue(field.data)|spaceless
                })|raw }}
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

{% macro configField(field, log) %}
    {% set template = handlerTemplate(field.handler) %}
    {% if template %}
        {% include template %}
    {% else %}
        {% set hasFrom = 'f' in field.data|keys %}
        {% set hasTo = 't' in field.data|keys %}
        <li>
            {% apply spaceless %}
                {% if hasFrom and hasTo %}
                    {% if field.data.f is same as(true) and field.data.t is same as(false) %}
                        {{ "{field} was unchecked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% elseif field.data.f is same as(false) and field.data.t is same as(true) %}
                        {{ "{field} was checked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% else %}
                        {{ "{field} was changed from {from} to {to}"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                            from: _self.fromValue(field.data)|spaceless,
                            to: _self.toValue(field.data)|spaceless
                        })|raw }}
                    {% endif %}
                {% elseif hasTo %}
                    {% if field.data.t is same as(false) %}
                        {{ "{field} was unchecked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% elseif field.data.t is same as(true) %}
                        {{ "{field} was checked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% else %}
                        {{ "{field} was set to {to}"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                            to: _self.toValue(field.data)|spaceless
                        })|raw }}
                    {% endif %}
                {% elseif hasFrom %}
                    {% if field.data.f is same as(false) %}
                        {{ "{field} was unchecked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% elseif field.data.f is same as(true) %}
                        {{ "{field} was checked"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                        })|raw }}
                    {% else %}
                        {{ "{field} value ({from}) was removed"|t('activity', {
                            field: _self.fieldLabel(field.name, log)|spaceless,
                            from: _self.fromValue(field.data)|spaceless
                        })|raw }}
                    {% endif %}
                {% else %}
                    {{ "{field} was changed"|t('activity', {
                        field: _self.fieldLabel(field.name, log)|spaceless
                    })|raw }}
                {% endif %}
            {% endapply %}
        </li>
    {% endif %}
{% endmacro %}

{% macro longTextFromValue(field, data) %}
    {# data can contain a key to access the value in the field. Nested fields (Matrix) will set this key #}
    {% if data.key ?? false %}
        {% set key = data.key %}
        {% set fieldId = data.fieldId %}
    {% else %}
        {% set key = '' %}
        {% set fieldId = field.id %}
    {% endif %}
    {% if craft.activity.context == 'web' and field.data.f|length > 50 %}
        <a href="#" class="js-view-field-value" data-id="{{ fieldId }}" data-key="{{ key }}.f">view</a>
    {% else %}
        {{ _self.elementFromValue(field.data) }}
    {% endif %}
{% endmacro %}

{% macro longTextToValue(field, data) %}
    {# data can contain a key to access the value in the field. Nested fields (Matrix) will set this key #}
    {% if data.key ?? false %}
        {% set key = data.key %}
        {% set fieldId = data.fieldId %}
    {% else %}
        {% set key = '' %}
        {% set fieldId = field.id %}
    {% endif %}
    {% if craft.activity.context == 'web' and field.data.t|length > 50 %}
        <a href="#" class="js-view-field-value" data-id="{{ fieldId }}" data-key="{{ key }}.t">view</a>
    {% else %}
        {{ _self.elementToValue(field.data) }}
    {% endif %}
{% endmacro %}