{% macro fromValue(field) %}
    <code>{{ (field.hasFancyFrom ? field.fancyFrom : field.from)|prettyPrint }}</code>
{% endmacro %}

{% macro toValue(field) %}
    <code>{{ (field.hasFancyTo ? field.fancyTo : field.to)|prettyPrint }}</code>
{% endmacro %}

{% macro rawFromValue(value) %}
    <code>{{ (value.ff ?? value.f)|prettyPrint }}</code>
{% endmacro %}

{% macro rawToValue(value) %}
    <code>{{ (value.tf ?? value.t)|prettyPrint }}</code>
{% endmacro %}

{% macro fieldLabel(name, log) %}
    {% set label = log.getFieldLabel(name) %}
    {% if label %}
        {{ label }}
    {% else %}
        <code>{{ name }}</code>
    {% endif %}
{% endmacro %}

{% macro settingLabel(name, log) %}
    {% set label = log.getSettingLabel(name) %}
    {% if label %}
        {{ label }}
    {% else %}
        <code>{{ name }}</code>
    {% endif %}
{% endmacro %}

{% macro fieldValue(field, log) %}
    <li>
        {% if field.hasFrom and field.hasTo %}
            {% if field.from is same as(true) and field.to is same as(false) %}
                {{ "{field} was unchecked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% elseif field.from is same as(false) and field.to is same as(true) %}
                {{ "{field} was checked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% else %}
                {{ "{field} was changed from {from} to {to}"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                    from: _self.fromValue(field),
                    to: _self.toValue(field)
                })|raw }}
            {% endif %}
        {% elseif field.hasTo %}
            {% if field.to is same as(false) %}
                {{ "{field} was unchecked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% elseif field.to is same as(true) %}
                {{ "{field} was checked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% else %}
                {{ "{field} was set to {to}"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                    to: _self.toValue(field)
                })|raw }}
            {% endif %}
        {% elseif field.hasFrom %}
            {% if field.from is same as(false) %}
                {{ "{field} was unchecked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% elseif field.from is same as(true) %}
                {{ "{field} was checked"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                })|raw }}
            {% else %}
                {{ "{field} value ({from}) was removed"|t('activity', {
                    field: _self.fieldLabel(field.name, log),
                    from: _self.fromValue(field)
                })|raw }}
            {% endif %}
        {% else %}
            {{ "{field} was changed"|t('activity', {
                field: _self.fieldLabel(field.name, log)
            })|raw }}
        {% endif %}
    </li>
{% endmacro %}